* {
    box-sizing: border-box;
}

/* Reset the default margin */
body {
    font-family: 'Electrolize', sans-serif;
    height: 100vh;
    background: linear-gradient(55deg, #231589 0%, rgb(81, 2, 67) 51%, rgb(176, 58, 155));
    background-repeat: no-repeat;
    background-size: 300% 300%;
}


/* Styling for the main heading */
h1 {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #0ad0fd;
    text-shadow: 2px 2px 2px #0d024c;
    text-align: center;
}

h3 {
    cursor: pointer;
}

#error-message {
    font-size: xx-large;
    color: red;
    text-align: center;
}

ul {
    display: flex;
    background-color: #0d024c;
    padding: 10px;
    justify-items:left;
    top: 0px;
}

ul a {
    color: #d8dfe7;
    padding: 14px 20px;
    text-decoration: none;
    justify-items: left;
  }
/* Container to hold the entire content */
.main-container {
    position: relative;
    height: 100%;
}


/* Styling for the background image */
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


/* Centering content horizontally and vertically */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}


/* Styling for the central content container */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    background-color: rgba(5, 226, 237);
    padding: 9px;
    border-radius: 50px;
    margin:auto;
}


/* Styling for the instructions */
.instructions {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}


/* Styling for the labels */
.custom-label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}


/* Hidden Styling */
.hidden {
    display: none;
    visibility: hidden;
}


.footer {
    font-family:'Electrolize', sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #0d024c;
    margin-top: 20px;
    color: #0ad0fd;
    padding: 10px;
}

/* Styling for the text input */
.user-input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgba(98, 35, 96, 0.719);
    border-radius: 30px;
}


/* Styling for the input placeholder */
input::placeholder {
    color: #e2c5e4;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    font-style: italic;
    outline: none;
}


/* Styling for the submit button */
button {
    background-color: rgba(23,24,88,255);
    color: #e2c5e4;
    padding: 7px 55px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Electrolize', sans-serif;
}

#hero {
    padding: 20px;
    align-items: center;
    cursor: pointer;
}

#recommends {
    padding: 20px;
    align-items: center;
    cursor: pointer;
}

.titleCard {
    text-align: center;
    font-size: small;
}

#youtubeDynamics {
    cursor: pointer;
}

#recommends {
    margin-top: 100px;
}

.content-box {
    flex: 1;
    box-sizing: border-box;
    height:100px;
    padding: 20px;
    margin: 10px;
    overflow: auto;
    background-color: #0d024c;
}

.container {
    display: flex;
    width: 100%;
}

#history {
   display:flex;
   list-style: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Electrolize', sans-serif;
   background-color: transparent;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #04718a !important;
    margin-bottom: 10px;
  }
/* .hide {
    display: none;
}

.clearHistory {
    float: right;
} */
#artistSongs {
    height: auto;
}

#songList {
    display: flex;
    flex-direction: column;
    color: white;
}

.songListItems {
    list-style: none;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}
 
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px rgb(131, 9, 140);
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #04718a;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0ad0fd;
}
/* What is not covered by handle */
::-webkit-scrollbar-track-piece {
    background:rgb(81, 2, 67)
}


/* Media queries for responsiveness */
@media screen and (max-width: 640px) {
    /* styles for small screens */
}


@media screen and (max-width: 768px) {
    /* styles for medium screens  */
}


@media screen and (max-width: 992px) {
    /* styles for large screens */
}
